doctype html
head
  each css in htmlWebpackPlugin.files.css
    link(href=css, rel='stylesheet')
body
  block content

  each js in htmlWebpackPlugin.files.js
    script(type='text/javascript', src=js)
